<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="portRerouter" type="TcpPortReRouter.RouteMapConfiguration, TcpPortReRouter"/>
  </configSections>

  <portRerouter>
    <routes>
      
      <!-- listen on the primary IP on port 89, redirect to www.google.com on port 80 -->
      <add name="www.google.com on port 829" listenPort="829" targetHost="www.google.com" targetPort="80"></add>

      <!-- listen on the loopack adapter, redirect to www.google.com's IP address on port 80 -->
      <add name="www.google.com on port 829" listenIP="127.0.0.1" listenPort="829" targetHost="74.125.19.99" targetPort="80"></add>
      
    </routes>
  </portRerouter>
  
</configuration>